@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*----- VARIABLES CSS Y SASS -----*/
/*Varibles sass*/
/*Variables css*/
/*Colores*/
:root {
  --first-color: #c9ffe5;
  --black-color: #000000;
  --white-color: #c9ffe5;
}

/*Fuente y tipografia*/
:root {
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1rem;
  --normal-font-size: 0.93rem;
  --small-font-size: 0.81rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.37rem;
  }
}

/*z index*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background:#01023e url('stars.png') repeat;
}

/*----- BASE -----*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html{
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--body-font);
  color: var(--white-color);
  font-weight: 700;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----- LAYOUT -----*/
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
/*-----About page----*/
.heading{
  font-size: 5rem;
  text-align: center;
  position: relative;
  margin: 5rem 0;
}
.education{
  padding:70px 15px;
  background: var(--white-color);
}
.education h2{
  font-size: small;
  margin-bottom: 5rem;
}
.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position:absolute;
  width: 5px;
  height:100%;
  background-color: var(--white-color);
  left:calc(50% - 1px);
}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
  height:21px;
  width:21px;
  background-color: var(--white-color);
  box-shadow: 0 0 25px var(--first-color),
              0 0 50px var(--first-color);
  position: absolute;
  left:calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: whitesmoke;
  margin: 6px 0 15px;
}
.timeline-content{
  border:3px solid var(--first-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--first-color);
  cursor:pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover{
  transform: scale(1.05);
  box-shadow:  0 0 25px var(--first-color);
}
.timeline-content h3{
  font-size: 20px;
  color: whitesmoke;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content p{
  color: whitesmoke;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--white-color);
}
::-webkit-scrollbar-track{
  background-color: var(--black-color);
  width: 50px;
}
.About{
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  display: block;
  position: relative;
}

/*----- Hobbies -----*/
.Hobbies {
  padding: 70px 15px;
}
.Hobbies .marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 100%;
}
.Hobbies .marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.Hobbies-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Hobbies .heading {
  margin-bottom: 5rem;
}
.Hobbies-box img {
  width: 20rem;
  border: 3px solid var(--first-color);
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.Hobbies-item {
  border: 3px solid var(--first-color);
  border-radius: 1.5rem;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.4s ease-in-out;
  flex: 1 1 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.Hobbies-item h2 {
  font-size: 1.5rem;
  font-family:monospace ;
}
.Hobbies-item p {
  font-size: 1rem;
  color: bisque;
  font-style: italic;
}
.Hobbies-item:hover{
  border: 3px solid var(--first-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--first-color);
}
@media (min-width: 600px) {
  .Hobbies-item {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}
@media (min-width: 900px) {
  .Hobbies-item {
    flex: 1 1 calc(25% - 2rem);
    max-width: calc(25% - 2rem);
  }
}


/*----- PRS -----*/
.PRS{
  background: var(--black-color);
  color: #000000;
}
.PRS .heading{
  margin-bottom: 5rem;
  color: #c9ffe5;
}

.PRS-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.PRS-box{
  background-color: var(--first-color);
  height: auto;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  padding: 2rem;
  box-sizing: border-box;
}

.PRS-box:hover{
  background: white;
  border: 5px solid var(--first-color);
  transform: scale(1.03);
}

.PRS-info{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

.PRS-info h4{
  font-size: 2rem;
  color: #3e0f01;
  margin-bottom: 1rem;
}

.PRS-info p{
  font-size: 1.3rem;
  color: #01023e;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .PRS-container {
    grid-template-columns: 1fr;
  }
}

/*----- PAGES -----*/
/*Nav*/
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  background-color: #01023e;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-color)), to(var(--first-color)));
    background-image: linear-gradient(var(--black-color), var(--first-color));
    width: 100%;
    height: 45%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__list {
  text-align: center;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--text-color);
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 1.5rem;
  height: 0.1875rem;
  left: 0.125rem;
  top: 2.125rem;
  background-color: var(--first-color);
}

.nav__logo {
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*Aparecer menu*/
.show {
  top: 3rem;
}

/*Home*/
.l-main {
  height: calc(100vh - 3rem);
}
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  row-gap: 2.3rem;
  height: 100%;
  font-weight: 700;
  flex: 1;
  padding: 2rem;
}

.home__information {
  padding-left: 1.5rem;
  border-left: 5px solid var(--white-color);
  z-index: var(--z-tooltip);
}

.home__phone {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.home__phone-number {
  font-size: 18px; 
  margin-left: 5px;
}

.home__pressent {
  font-size: var(--small-font-size);
}

.home__title {
  font-size: var(--h1-font-size);
}

.home__skill {
  font-size: var(--h2-font-size);
}

.home__button {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: .75rem;
  color: var(--white-color);
  padding: .625rem 1rem;
  border-radius: .25rem;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--black-color)), to(var(--first-color)));
  background-image: linear-gradient(to right, var(--black-color), var(--first-color));
}

.home__img {
  position: absolute;
  right: 0;
  width: 300px;
  transform: translateY(50%);
  border-radius: 50%;
}
.home__img img{
  position: relative;
  top : 3rem;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--first-color),
              0 0 50px var(--first-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.home__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
}

.home__social-icon {
  margin-bottom: 2rem;
  font-size: 1.33rem;
  cursor: pointer;
}

.home__social-icon:hover {
  color: var(--first-color);
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-main {
    height: 100vh;
  }
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__link {
    text-transform: initial;
  }
  .home {
    -ms-grid-rows: max-content 20px;
        grid-template-rows: -webkit-max-content 20px;
        grid-template-rows: max-content 20px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .home__information {
    margin-top: 2rem;
  }
  .home__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 0;
  }
  .home__social-icon {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .home__img {
    width: 553px;
    right: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*ANIMATE*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
}

.first {
  background-color: var(--first-color);
}

.second {
  background-color: var(--first-color);
  left: 33.3%;
}

.third {
  background-color: var(--first-color);
  left: 66.6%;
}


